{% extends 'homebase.html' %}
{% load static %}
{% block head1 %}
<link rel="stylesheet" href="{% static 'css/1.css' %}">
<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}"> 
{% endblock head1 %}


{% block content1 %}
<div class="container">
<h1 class="text-center">Prediction Test</h1>
<br>
<h4>{{a}}</h4>
<br>
<form method="POST" action='predictorresult'>
{% csrf_token %}
  <div class="form-group">
    <label for="exampleInputEmail1">City you belong to:</label>
    <input type="text" class="form-control" required name="region"  placeholder="Enter city">
  
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Gender:</label>
    <input type="text" class="form-control" required name="gender" placeholder="Male/Female">
  
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Married or not</label>
    <input type="text" class="form-control" required name="married" placeholder="Yes/No">
  
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Number of children</label>
    <input type="number" class="form-control" required name="children" placeholder="Enter number">
  
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Mode of transport used by you:</label>
    <input type="text" class="form-control" required name="transport" placeholder="Enter mode of transport">
  
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Number of confirmed cases /1M in your region:</label>
    <input type="number" class="form-control" required name="cases" placeholder="Enter number">
  
  </div>  
  <div class="form-group">
    <label for="exampleInputEmail1">Number of deaths /1M in your region:</label>
    <input type="number" class="form-control" required name="deaths" placeholder="Enter number">
  
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Other medical complications:</label>
    <input type="text" class="form-control" required name="comorbidity" placeholder="None/Hypertension/Diabetes/coronary heart disease">
  
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Your Age:</label>
    <input type="number" class="form-control" required name="age" placeholder="Enter age">
  
  </div>
    
    <div class="form-group">
    <label for="exampleInputEmail1">Cardiological Pressure:</label>
    <input type="text" class="form-control" required name="cardiological" placeholder="Normal/Stage-01/Stage-02/Elevated">
  
  </div>
    
    <div class="form-group">
    <label for="exampleInputEmail1">Platelets Count (x1000):</label>
    <input type="number" class="form-control" required name="platelets" placeholder="Enter count">
  
  </div>
    
    <div class="form-group">
    <label for="exampleInputEmail1">Heartbeat Rate:</label>
    <input type="number" class="form-control" required name="heartbeat" placeholder="Enter value">
  
  </div>
    
    <div class="form-group">
    <label for="exampleInputEmail1">Average number of foriegn trips taken by person per month(consider last 10 months data):</label>
    <input type="number" class="form-control" required name="ft" placeholder="Enter value">
  
  </div>
  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br><br><br><br><br>
</div>
{% endblock content1 %}
