{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

{% endblock head %}
{% block content %}
<section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        
                        <br><br>
                        {{form.errors}}
                        <br><br>
                        <form method="POST" class="register-form" id="register-form" action="register">
                        {% csrf_token %}
                          
                             <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                {{form.username}}
                            </div>

                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                {{form.password1}}
                            </div>
                            <div class="form-group">
                                <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                                {{form.password2}}
                            </div>

                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="{% static 'images/signup-image.jpg' %}" alt="sing up image"></figure>
                        <a href="{% url 'login' %}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
        <script>
        var form_feilds=document.getElementsByTagName('input')
        
        form_feilds[1].placeholder='Your Username';
        form_feilds[2].placeholder='Password';
        form_feilds[3].placeholder='Repeat Password';
        for(var field in form_fields){
            form_fields[field].className == 'form-control'
        }

        </script>

{% endblock content %}
